body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: calc(0.7rem + 1.5vw);
  line-height: 1.5;
  max-width: 30em;
}

p {
  max-width: 20em;
}

img {
  width: 100%;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 3em;
  grid-row-gap: 0.5em;
  align-items: stretch;
  position: relative;
  background-image: linear-gradient(orange, orange 3em, transparent 3em),
    repeating-linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 3em,
      transparent 3em,
      transparent 3.5em
    );
}

.grid > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.finger {
  position: relative;
  color: white;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"> <circle cx="50" cy="50" r="40"/> </svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
