body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: calc(1em + 1vw);
  line-height: 1.5;
  max-width: 25em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2em;
  background-color: #222;
  color: white;
}

p {
  max-width: 20em;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

a {
  color: lightsalmon;
  text-decoration: none;
}

.small {
  font-size: 0.8em;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.mr-1sp {
  margin-right: 0.8em;
}

.fretboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 3em;
  grid-row-gap: 0.5em;
  align-items: center;
  text-align: center;
  position: relative;
  color: #222;
  background-image: linear-gradient(
      lightsalmon,
      lightsalmon 3em,
      transparent 3em
    ),
    repeating-linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75) 3em,
      transparent 3em,
      transparent 3.5em
    );
}

.fretboard > * {
  font-size: 2em;
}

.inline-block {
  display: inline-block;
}

.pill {
  font-size: 0.85em;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
