body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: calc(0.75rem + 1vw);
  line-height: 1.5;
  max-width: 25em;
  margin-left: 5%;
  margin-right: 5%;
}

p {
  max-width: 20em;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 3em;
  grid-row-gap: 0.5em;
  align-items: center;
  text-align: center;
  position: relative;
  background-image: linear-gradient(orange, orange 3em, transparent 3em),
    repeating-linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 3em,
      transparent 3em,
      transparent 3.5em
    );
}

.grid > * {
  font-size: 2em;
}
